<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/login" *ngIf="!currentUser">Login</a>
    <a class="nav-item nav-link" routerLink="/register" *ngIf="!currentUser">Register</a>
    <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>

    <a class="nav-item nav-link" *ngIf="currentUser" (click)="logout()">Logout</a>
  </div>
</nav>
<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <!-- nav -->
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


